html, body {
  margin:0;
  padding:0;
}
nav{
  position:fixed !important;
  width:100%;
  z-index:100;
}
.rowHead {
  display:flex;
  align-items:center;
  height:75vh;
  border-bottom:1px black solid;
}

.colHead {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}
.headBtn {
  background-color:transparent;
  border:1px solid black;
  border-radius:5px;
  margin-top:1rem;
  transition: .2s;
}
.headBtn:focus{
  outline:0;
}
.headBtn:hover{
  background-color:#b2b2b2;
  transition: .2s;
}
.contHead {
  background-image:url("https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat:no-repeat;
  background-position: center;
}
/*----About Me Starts Here----*/
.aboutHead {
  margin:1rem;
  position:relative;
}
.aboutHead:after {
  content:"";
  position:absolute;
  top:100%;
  height:2px;
  width:30%;
  left:35%;
  background-color:black;
  min-width:100px;
}
/*----Skills Section Start, About Me end----*/
.skillIcon1 {
  font-size:90px;
  color:#ff7f16;
}
.skillIcon2 {
  font-size:90px;
  color:#1396f9;
}
.skillIcon3 {
  font-size:90px;
  color:#ff0f0f;
}
.skillIcon4 {
  font-size:90px;
  color:#491d82;
}

.colSkill{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}
.skillHead {
  margin:1rem;
  position:relative;
}
.skillHead:after{
   content:"";
  position:absolute;
  top:90%;
  height:2px;
  width:7%;
  left:46.5%;
  background-color:black;
}
/*----Start of Projects End of Skills----*/
.textProg {
  margin:2rem; 
  position:relative;
}
.textProg:after{
   content:"";
  position:absolute;
  top:90%;
  height:2px;
  width:10%;
  left:45%;
  background-color:black;
}
/*----Contact Me Section----*/
.iCont {
  display:flex;
  justify-content:center;
}
.iIcons1 {
  font-size:50px;
  color:gray;
}
.iIcons2 {
  font-size:50px;
  color:pink;
}
.iIcons3 {
  font-size:50px;
  color:red;
}
.iIcons4 {
  font-size:50px;
  color:blue;
}
