.navbar, nav-item {
  width:100%;
  height:auto;
}
.carousel-inner {
  margin-bottom:1rem;
}
.black {
  background-color:black;
  width:100%;
}
.filler {
  border:2px solid black;
  margin:20px;
  border-radius:15px;
  padding:1rem;
  padding-bottom:5rem;
  background-color:#e5e5e5;
}
.form {
  width:100%;
  display:flex;
  flex-direction:column;
  jusify-content:center;
}
.width{
  width:20%;
}
.right {
  float:right;
}
.button1 {
  font-size:15px;
  padding:5px;
  text-align:center;
  margin:0;
}