p {
	font-family:arial;
	margin-top:0;
}
table {
font-family: arial;
font-size: 20px;

}
td, th {
border: 3px solid black;
text-align: left;
padding: 30px;
}
table, th, td {
border-collapse;border-spacing:0;
}
tr:nth-child(1) {
background-color:yellow;
}
tr:nth-child(2) {
background-color:blue;
}
tr:nth-child(3) {
background-color:white;
}
tr:nth-child(4) {
background-color:blue;
}
tr:nth-child(5) {
background-color:white;
}
tr:nth-child(6) {
background-color:blue;
}
tr:nth-child(7) {
background-color:white;
}
tr:nth-child(8) {
background-color:blue;
}
tr:nth-child(9) {
background-color:white;
}
tr:nth-child(10) {
background-color:blue;
}
tr:nth-child(11) {
background-color:white;
}
tr:nth-child(12) {
background-color:blue;
}
tr:nth-child(13) {
background-color:white;
}




h1, h2, h3, h4, h5 {
	margin-bottom:0;
	margin-top:0;
}
